body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

nav {
  background-color: black;
  height: 70px;
  width: 100%;
}

article {
  height: 150px;
  margin-bottom: 30px;
  background-color: rgb(174, 217, 245);
}

.content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
}

.banner {
  background-color: darkgrey;
  margin-top: 0px;
  height: 200px;
}

.menu-icon {
  color: white;
  font-size: 25px;
  margin-top: 20px;
  align-items: center;
}

.menu-nav {
  display: flex;
  display: none;
}

.menu-nav li {
  font-size: 18px;
  list-style: none;
  padding: 0 32px;
  margin-left: 15px;
  line-height: 45px;
}

.title {
  margin-top: 0px;
  text-align: center;
  line-height: 200px
}

.subtitle {
  margin-top: 0px;
  text-align: center;
  line-height: 100px
}

.button {
  color: black;
  background-color: khaki;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
}

@media (min-width:500px) and (max-width:800px) {
  article {
    width: 40%;
    padding: 5px 5px;
  }

  .content {
    width: 95%
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media(min-width:800px) {
  article {
    width: 40%;
    padding: 5px 5px;
  }

  .content {
    width: 95%
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu-nav {
    display: flex;
  }

  .menu-icon {
    display: none
  }

  .menu-nav li {
    padding: 0;
    list-style: none;
    margin-left: 15px;
    font-size: 20px;
  }
}

@media(min-width:1200px) {
  .content {
    width: 1200px
  }
}